<div class="container">
  <div class="contact-us">
    <div class="contact-us__description">
      <p class="contact-us__description-phrase">We enjoy what we do.</p>
      <p class="contact-us__description-phrase">Working with smart people at great projects.</p>
      <p class="contact-us__description-phrase">Contact us if you want to work with us.</p>
    </div>
    <div class="contact-us__actions">
      <button class="btn btn--lg btn--filled contact-us__btn">Contact Us</button>
    </div>
  </div>
</div>
