$font-size-small: 10px;
$font-size-base: 12px;
$font-size-large: 14px;
$font-size-medium-large: 16px;
$font-size-extra-large: 18px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$burger-menu-width: 266px;

$transition-time: 0.3s;

$elements-border-radius: 4px;

$page-padding: 8px;
$page-padding-medium: 4px;
$global-padding: 16px;

$sports-book-layout-left-column-width: 209px;
$sports-book-layout-live-left-column-width: 253px;
$sports-book-layout-left-column-collapsed-width: 40px;
$sports-book-layout-right-column-width: 304px;
$sports-book-swipe-menu-margin-bottom: 8px;

$header-global-nav-height: 56px;
$header-global-nav-laptop-height: 48px;
$header-global-nav-mobile-height: 40px;

$content-odds-height: 44px;
$content-arrow-indicator-border-size: 6px;
$content-arrow-indicator-border-size-top: 7px;
$content-arrow-indicator-border-size-bottom: 7px;
$content-back-to-top-btn-height: 58px;
$content-back-to-top-btn-width: 58px;

$floating-bottom-margin: 42px;

$z-index-hidden: -1;
$z-index-high-priority: 9999;

$input-border-size: 1px;
$input-border-radius: 2px;
$input-height: 36px;
$input-width: 100%;
$input-padding-left: 12px;
