<div class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo-link" href="#">
        <img src="../../../assets/img/logo.png" alt="logo">
      </a>
      <div class="header__right">
        <ul class="header__nav">
          <a href="#" class="header__nav-item">case studies</a>
          <a href="#" class="header__nav-item header__nav-item--active">services</a>
          <a href="#" class="header__nav-item">expertise</a>
          <a href="#" class="header__nav-item">about</a>
        </ul>
        <button class="btn btn--sm btn--white btn--uppercase header__btn-contact">contact us</button>
      </div>
      <div class="header__menu">
        <img src="../../../assets/img/menu.png" alt="menu">
      </div>
    </div>
  </div>
</div>
